<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<!-- <h1>Welcome</h1> -->
	<div id="root"></div>

	<!-- grabbing post value from page.js and passing to window -->
	<script>window.__POST__ = {{{post}}}</script>
	<script src="/dist/app/index.js"></script>
</body>
</html>